{% if current_user.has_permission('admin.role.delete') %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRoleModal">
    <i class="bi bi-trash"></i> {{ _('Delete') }}
</button>
<!-- Modal -->
<div class="modal fade" id="deleteRoleModal" tabindex="-1" aria-labelledby="deleteRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteRoleModalLabel"><i class="bi bi-plus-fill"></i> {{ _('Delete Role') }}: {{ role.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ _('Are you sure you want to delete the role? This action cannot be undone.') }}
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{{ url_for('admin.delete_role', role_id=role.id) }}" role="button">
                    <i class="bi bi-trash-fill"></i> {{ _('Delete Role') }}
                </a>
                <button type="button" class="btn btn-secondary align-start" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
