{% if current_user.has_permission('admin.role.update_permission') %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updatePermissionModal">
    {{ _('Update Permissions') }}
</button>
<!-- Modal -->
<div class="modal fade" id="updatePermissionModal" tabindex="-1" aria-labelledby="updatePermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updatePermissionModalLabel"><i class="bi bi-plus-fill"></i> {{ _('Update Permissons for') }}: {{ role.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'admin/role/form.role.add_permission.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary align-start" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
