{% if item.images|length>0 %}
<div class="border border-1 border-dark-emphasis rounded-4 bg-body-tertiary">
    <div id="mainCarousel" class="carousel slide" style="height:300px;">
        <div class="carousel-inner">
        {% for image in item.images %}
            {% if loop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <img src="{{ url_for('image.serve_item_image', filename=image.filename) }}" class="d-block mx-auto my-auto" alt="Image of {{ item.name }}" style="max-height:300px; display: block; margin-left: auto; margin-right: auto; object-fit: contain; height: 300px; width: auto; max-width: 100%;">
            </div>
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _('Previous') }}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _('Next') }}</span>
        </button>
    </div>
</div>
{% else %}
<div class="alert alert-info" role="alert" style="height:300px;">
    {{ _("No images found for this item.") }}
</div>
{% endif %}
