<form action="{{ url_for('item.update_item_post', item_id=item.id) }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group my-2">
        <label for="id">{{ form.id.label }}</label>
        {{ form.id(class="form-control bg-secondary-subtle", id="id") }}
    </div>
    <div class="form-group my-2">
        <label for="name">{{ form.name.label }} <span class="text-danger">required</span></label>
        {{ form.name(class="form-control", id="name") }}
    </div>
    <div class="form-group my-2">
        <label for="description">{{ form.description.label }}</label>
        {{ form.description(class="form-control", id="description") }}
    </div>

    <div class="form-group my-2">
        {{ form.owner.label }}
        {{ form.owner(class="form-control", id="owner") }}
    </div>

    <div class="form-group my-2">
        <label for="storage_location">{{ form.storage_location.label }}</label>
        <div id="storage-container"></div>
        <input type="hidden" name="storage_location" id="storage_location">
    </div>
 
    <div class="form-group my-2">
        <label for="images">{{ form.images.label }} <span class="text-danger">allowed types jpg, png, jpeg, gif</span></label>
        {{ form.images(class="form-control", id="images") }}
    </div>
    <div class="form-group my-3"> 
        {{ form.submit(class="form-control btn btn-success") }}
    </div>
</form>

{% include 'item/script.storage.load.html' %}