{% if current_user.has_permission('item.delete') %}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteItemModal">
    <i class="bi bi-trash3-fill"></i> {{ _("Delete") }}
</button>
<div class="modal fade" id="deleteItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteItemModal">{{ _("Delete Item now") }}</h1>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ _('Warning!') }}
                    {{ _('Are you sure you want to delete the item? This action cannot be undone.') }}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('item.delete_item', item_id=item.id) }}" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> {{ _('Delete Item') }}</a>
                <button type="button" class="btn btn-secondary align-start" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
