<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateItemModal">
    <i class="bi bi-pencil-fill"></i> {{ _("Edit") }}
</button>
<div class="modal fade" id="updateItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateItemModal">{{ _("Update Item") }} #{{ item.id }} {{ item.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if item.images|length>0 %}
                    <div>
                    <div class="border border-secondary bg-dark-subtle">
                    <div id="mainItemCarousel" class="carousel slide" style="max-height:300px;">
                        <div class="carousel-inner">
                        {% for image in item.images %}
                            {% if loop.first %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                                <img src="{{ url_for('image.serve_item_image', filename=image.filename) }}" class="d-block" alt="Image of {{ item.name }}" style="max-height:300px">
                            </div>
                        {% endfor %}

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#mainItemCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#mainItemCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    </div>
                    <p>{{ _('Number of images') }}: {{ item.images|length}}</p>
                    </div>
                {% endif %}
                {% include 'item/form.item.update.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>