
<footer class="bg-dark text-white text-center py-3">
    <ul class="list-inline mt-2">
        <li class="list-inline-item"><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" class="text-white">
            <i class="bi bi-cc-circle"></i> 
            BY-NC-ND 4.0
        </a></li>
        <li class="list-inline-item"><a href="https://github.com/donnerbaer/smart-storage" target="_blank" class="text-white"><i class="bi bi-github"></i> GitHub Repo</a></li>
    </ul>
    <ul class="list-inline mt-2">
        <li class="list-inline-item"><a href="https://davidshimjs.github.io/qrcodejs/" target="_blank" class="text-white">QRCode.js</a></li>
        <li class="list-inline-item"><a href="https://getbootstrap.com/" target="_blank"  class="text-white">Bootstrap</a></li>
        <li class="list-inline-item"><a href="https://flask.palletsprojects.com/en/stable/" target="_blank"  class="text-white">Flask</a></li>
        <li class="list-inline-item"><a href="https://www.chartjs.org/" target="_blank"  class="text-white">Chart.js</a></li>
    </ul>
</footer>