{% if current_user.has_permission('admin.user.delete') or current_user.id == user.id %}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
    <i class="bi bi-trash3-fill"></i> {{ _("Delete") }}
</button>
<div class="modal fade" id="deleteUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteUserModal">{{ _("Delete User") }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ _('Warning!') }}
                    {{ _('Are you sure you want to delete the user? This action cannot be undone.') }}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('user.delete_user', user_id=user.id) }}" class="btn btn-danger">{{ _("Delete User") }}</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
