<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
    <i class="bi bi-trash3-fill"></i> {{ _("Delete User") }}
</button>
<div class="modal fade" id="deleteUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteUserModal">{{ _("Delete User") }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    {{ _("Are you sure you want to delete this user? This action cannot be undone.") }}
                    <p class="text-danger">{{ _("This will also delete all associated data.") }}</p>
                    <p>{{ _('Your will delete following user') }}:</p>
                    <p>{{ _("User ID") }}: {{ user.id }}</p>
                    <p>{{ _("Username") }}: {{ user.username }}</p>
                    <p>{{ _("First Name") }}: {{ user.first_name }}</p>
                    <p>{{ _("Last Name") }}: {{ user.last_name }}</p>
                    <p>{{ _("Email") }}: {{ user.email }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('user.delete_user', user_id=user.id) }}" class="btn btn-danger">{{ _("Yes, delete User") }}</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>