{% extends 'base.html' %}
{% block title %} {{ _("Admin") }}{% endblock %}


{% block main %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" >
    <ol class="breadcrumb breadcrumb-chevron pe-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
            <a class="" href="{{ url_for('main.index') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ _("Admin") }}
        </li>
    </ol>
</nav>


<h1>{{ _('Admin Panel') }}</h1>
<p>{{ _('Here is some content for the admin dashboard.') }}</p>


<div>
    <a href="{{ url_for('user.users_view') }}" class="btn btn-primary">Users</a>
    <a href="{{ url_for('admin.groups_view') }}" class="btn btn-primary">Groups</a>
    <a href="{{ url_for('admin.roles_view') }}" class="btn btn-primary">Roles</a>
</div>


<div class="mt-4 me-4">
    <div class="alert alert-warning">
        <h2 class="h4">{{ _('Notes') }}</h2>
        <p class="mt-2">{{ _('How is the authorization system build?') }}</p>
        <ul class="">
            <li>
                {{ _("Each user is assigned to at least one group.") }}
            </li>
            <li>
                {{ _("Each group is assigned at least one role.") }}
            </li>
            <li>
                {{ _("Each role has at least one authorization.") }}
            </li>
        </ul>
        
    </div>
</div>




{% endblock %}
