<form action="{{ url_for('admin.group_post') }}" method="POST">
    {{ form_create_group.hidden_tag() }}

    <div class="form-group">
        {{ form_create_group.name.label }} <span class="text-danger">(required)</span>
        {{ form_create_group.name(class="form-control", id="name") }}
    </div>
    <div class="form-group">
        {{ form_create_group.description.label }}
        {{ form_create_group.description(class="form-control", id="description") }}
    </div>
    <div class="form-group mt-3">
        {{ form_create_group.submit(class="btn btn-success") }}
    </div>
</form>