{% extends 'base.html' %}
{% block title %} {{ _("List of all Storage Locations") }}{% endblock %}

{% block main %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" >
    <ol class="breadcrumb breadcrumb-chevron pe-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a class="" href="{{ url_for('main.index') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ _('Storages') }}
        </li>
    </ol>
</nav>

<h1>{{ _("Storage Locations") }}</h1>
<div>
    {% include 'storage/modal.storage.create.html' %}
</div>


<p>{{ _('Number of Storages') }}: {{storages|length}}</p>

{% if storages|length > 0 %}
<table class="table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th scope="col">{{ _('ID') }}</th>
            <th scope="col">{{ _("Name") }}</th>
            <th scope="col">{{ _('Description') }}</th>
            <th scope="col">{{ _('Parent') }}</th>
            <th scope="col">{{ _('Root Parent') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for storage in storages %}
        <tr>
            <td scope="row">
                <span class="fw-bold">{{ storage.id }}</span>
            </td>
            <td>
                <a href="{{ url_for('storage.storage_view', storage_id=storage.id) }}" class="btn btn-primary"><i class="bi bi-search"></i></a>
                <span class="fw-bold">{{ storage.name }}</span>
            </td>
            <td>
                {{ storage.description if storage.description }}
            </td>
            <td class="text-nowrap">
                {% if storage.parent.id %}
                <a href="{{ url_for('storage.storage_view', storage_id=storage.parent.id) }}" class="btn btn-primary"><i class="bi bi-search"></i></i></a>
                {{ storage.parent.name }}
                {% endif %}
            </td>
            <td class="text-nowrap">
                {% if storage.id != storage.get_root().id %}  
                <a href="{{ url_for('storage.storage_view', storage_id=storage.get_root().id) }}" class="btn btn-primary"><i class="bi bi-search"></i></a>
                {{ storage.get_root().name }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
{{ _("No storages found.") }}
</div>
{% endif %}

{% endblock %}
