{% extends 'base.html' %}
{% block title %} {{ _("Catalog") }}{% endblock %}


{% block main %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" >
    <ol class="breadcrumb breadcrumb-chevron pe-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a class="" href="{{ url_for('main.index') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ _('Catalog') }}
        </li>
    </ol>
</nav>

<h1>{{ _("Catalog", context="Highlight") }}</h1>
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createItemModal">
    <i class="bi bi-plus-circle"></i> {{ _("Create item") }}
</button>

<div class="modal fade" id="createItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createItemModal"><i class="bi bi-plus-circle"> </i>{{ _("Create Item") }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    {% include 'item/form.item.create.html' %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>



{% if items|length == 0 %}
    <p>{{ _('No items found in the catalog.') }}</p>
{% else %}
    <p>{{ _('Number of Items') }}: {{ items|length }}</p>
{% endif %}

{% if item|length <= 0%}
<div class="alert alert-info" role="alert">
{{ _("No items found.") }}
</div>
{% else %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ _('ID') }}</th>
            <th>{{ _('Image') }}</th>
            <th>{{ _("Name") }}</th>
            <th>{{ _('Storage Location') }}</th>
            <th>{{ _('Description') }}</th>
            <th>{{ _('Barcode') }}</th>
            <th>{{ _('Owner') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>
                {% if item.images|length > 0: %}
                <img src="{{ url_for('image.serve_item_image', filename=item.images[0].filename) }}" alt="{{ item.name }}" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">    
                {% endif %} 
            </td>
            <td><a href="{{ url_for('item.item_view', item_id=item.id) }}" class="btn btn-primary d-block">{{ item.name }}</a></td>
            <td>
                {% if item.storage_location %}
                <a href="{{ url_for('storage.storage_view', storage_id=item.storage_location.id)}}" class="btn btn-primary d-block">{{ item.storage_location.name }}</a>
                {% endif %}
            </td>
            <td>{{ item.description if item.description }}</td>
            <td>{{ item.barcode if item.barcode }}</td>
            <td>
                {% if item.owner_id %}
                <a href="{{ url_for('user.user_view', user_id=item.owner.id)}}" class="btn btn-primary d-block">{{item.owner.first_name}} {{item.owner.last_name}}</a>    
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
