{% extends 'base.html' %}
{% block title %} {{ _("Dashboard") }}{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}



{% block main %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" >
    <ol class="breadcrumb breadcrumb-chevron pe-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a class="" href="{{ url_for('main.index') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ _('Dashboard') }}
        </li>
    </ol>
</nav>

<h1>Dashboard</h1>

<section>
    <div class="border border-1 border-dark-emphasis p-3 rounded-4 bg-light" style="max-width: 500px;">
        <h2 class="h4">{{ data.overall_sum.title}}</h2>
        <p class="text-muted">{{ data.overall_sum.description }}</p>
    <canvas id="{{ data.overall_sum.name }}"></canvas>
    </div>

    <script>
    const {{ data.overall_sum.name }} = document.getElementById('{{ data.overall_sum.name }}');

    new Chart({{ data.overall_sum.name }}, {
        type: 'bar',
        data: {
        labels: {{ data.overall_sum.labels|tojson|safe }},
        datasets: [{
            label: '{{ data.overall_sum.title|tojson|safe }}',
            data: {{ data.overall_sum.data|tojson|safe }},
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
                ticks: {
                    stepSize: 1
            },
            beginAtZero: true
            }
        }
        }
    });
    </script>
</section>

{% endblock %}
