{% extends 'base.html' %}
{% block title %} {{ _("Storage") }}{% endblock %}


{% block main %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" >
    <ol class="breadcrumb breadcrumb-chevron pe-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('storage.storages_view') }}">Storages</a>
        </li>
    {% for storage_hierarchy in storage_hierarchy %}
        {% if loop.last %}
        <li class="breadcrumb-item" aria-current="page">{{ storage_hierarchy.name}}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ url_for('storage.storage_view', storage_id=storage_hierarchy.id) }}">{{ storage_hierarchy.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
</nav>


<h1>{{ _("Storage", context="Highlight") }} #{{ storage.id }} {{ storage.name }}</h1>
{% include 'storage/modal.update.html' %}
{% include 'storage/modal.delete.html' %}
{% include 'component/qrcode.html' %}


<div>
    <div class="border border-secondary bg-dark-subtle">
    <div id="mainStorageCarousel" class="carousel slide" style="max-height:300px;">
        <div class="carousel-inner">
        {% if storage.images|length == 0 %}
            <div class="carousel-item active">
                <img src="{{ url_for('image.serve_storage_image', filename='default_storage_image.png') }}" class="d-block" alt="Placeholder Image" style="max-height:300px">
            </div>
        {% else %}
            {% for image in storage.images %}
                {% if loop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <img src="{{ url_for('image.serve_storage_image', filename=image.filename) }}" class="d-block" alt="Image of {{ storage.name }}" style="max-height:300px">
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainStorageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainStorageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
    <p>{{ _('Number of images') }}: {{ storage.images|length}}</p>
</div>


<section>
    <h2 class="h2">{{ _('Items') }}</h2>
    {% if storage.items|length < 1 %}
        <div class="alert alert-info" role="alert">
            {{ _("No items found in this storage.") }}
        </div>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ _('ID') }}</th>
                <th scope="col">{{ _("Name") }}</th>
                <th scope="col">{{ _('Description') }}</th>
                <th scope="col">{{ _('Barcode') }}</th>
                <th scope="col">{{ _('Owner') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in storage.items %}
                <tr>
                    <td scope="row">{{ item.id }}</td>
                    <td>{% include 'component/link.item.html' %}</td>
                    <td>{{ item.description if item.description else '' }}</td>
                    <td>{{ item.barcode if item.barcode else '' }}</td>
                    <td>
                        {% if item.owner_id %}
                            {% include 'component/link.item.owner.html' %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>

<div class="">
    <h2 class="h2">{{ _('Storages contain in') }} {{storage.name}}</h2>
</div>




{% macro render_node(node) %}
        <li class="m-2">
             <a href="{{ url_for('storage.storage_view', storage_id=node.id) }}" class="btn btn-{{'primary' if node.id==storage.id else 'secondary'}}"><i class="bi bi-box"></i> {{ node.name }}</a>
            {% if node.children %}
                <ul>
                    {% for child in node.children %}
                       {{ render_node(child) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}

    <ul>
        {{ render_node(storage.get_root()) }}
    </ul>

{% endblock %}


