{% extends 'base.html' %}
{% block title %} {{ _("List of all users") }}{% endblock %}


{% block main %}
    <h1>{{ _("List of all Users", context="") }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Firstname") }}</th>
                <th>{{ _("Lastname") }}</th>
                <th>{{ _("Borrows") }}</th>
                <th>{{ _("Actions") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users: %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td></td>
                <td><a href="{{ url_for('main.user', user_id=user.id) }}" class="btn btn-primary">{{ _('Display') }}</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
