{% extends 'base.html' %}
{% block title %} {{ _("Item") }} #{{ item.id }} {{ item.name }}{% endblock %}


{% block main %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" >
    <ol class="breadcrumb breadcrumb-chevron bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a class="" href="{{ url_for('storage.storages_view') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a class="" href="{{ url_for('storage.storages_view') }}">{{ _("Storage") }}</a>
        </li>
        {% for storage_hierarchy in storage_hierarchy %}
        <li class="breadcrumb-item">
            <a class="" href="{{ url_for('storage.storage_view', storage_id=storage_hierarchy.id) }}">{{ storage_hierarchy.name }}</a>
        </li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
    </ol>
</nav>


<h1>#{{ item.id }} {{ item.name }}</h1>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            {% include 'item/carousel.item.html' %}
            {% include 'item/modal.update.html' %}
            {% include 'item/modal.delete.html' %}
        </div>
        <div class="col-6">
            {% include 'component/qrcode.html' %}

            <div class="row">
                <div class="col-sm">
                    <h3>{{ _("Storage Location") }}</h3>
                    {% if item.storage_location %}
                    <a href="{{ url_for('storage.storage_view', storage_id=item.storage_location.id) }}" class="btn btn-primary d-block">{{ item.storage_location.name }}</a>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        {{ _("No location assigned to this item.") }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-sm">
                    <h3>{{ _("Owner") }}</h3>
                    {% if item.owner %}
                    <a href="{{ url_for('user.user_view', user_id=item.owner.id) }}" class="btn btn-primary d-block">{{ item.owner.first_name }} {{ item.owner.last_name }}</a>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                    {{ _("No owner found for this item.") }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="mt-3">
                <h3>{{ _("Description") }}</h3>
                {% if item.description %}
                <p>{{ item.description }}</p>
                {% else %}
                <div class="alert alert-info" role="alert">
                    {{ _("No description found for this item.") }}
                </div>
                {% endif %}
            </div>

            <div class="mt-3">
                <h3>{{ _("Barcode") }}</h3>
                {% if item.barcode %}
                <p>{{ item.barcode }}</p>
                {% else %}
                <div class="alert alert-info" role="alert">
                    {{ _("No Barcode found for this item.") }}
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>



{% endblock %}
